.footer {
    background-color: var(--color-background-brand-blue);
    color: white;
    width: 100%;
}

.footer-container {
    padding: var(--spacing-x15, 60px) var(--spacing-x6, 24px) var(--spacing-x33, 132px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-x11, 44px);
}

.footer-container div{
    margin-top: 1px;
    margin-bottom: 1px;
}

.footer-container h4 {
    margin-bottom: 3px;
}

.img-logo-footer {
    width: 190px;
    height: 63px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.154px;
}

.footer-panel-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: var(--spacing-x11, 44px);
}

.footer-panel {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x3, 12px);
}

.footer-panel ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x3, 12px);
}

.footer a {
    text-decoration: underline;
    font-weight: var(--font-weight-bold);
    font-size: var(--text-base);
}

.footer-heading {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-lg);
}

.footer-section {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
}

@media (min-width: 48rem){
    .footer-container {
        padding: var(--spacing-x16, 64px) var(--spacing-x15, 60px) var(--spacing-x33, 132px) var(--spacing-x15, 60px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-x15, 60px);
    }
    .footer-panel-container{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        gap: var(--spacing-x16, 64px)
    }
    .footer-heading{
        font-weight: var(--font-weight-bold);
        font-size: var(--text-xl);
    }
}

@media (min-width: 64rem){
    .footer {
        background-color: var(--color-background-brand-blue);
        color: white;
        width: 100%;
    }
    
    .footer-container {
        padding: var(--spacing-x16, 64px) var(--spacing-x33, 132px) var(--spacing-x33, 132px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-x11, 44px);
    }

    .footer-section-two {
        width: 781px;
    }
        
    .footer-panel-container{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        gap: var(--spacing-x15, 60px)
    }

    .footer-panel {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-x4, 16px);
    }
    
    .footer-panel ul {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-x4, 16px);
    }

    .footer-heading{
        font-weight: var(--font-weight-bold);
        font-size: var(--text-xl);
    }
}
