---
import "../styles/global.css";
import { tv } from 'tailwind-variants';

const { type } = Astro.props


const headerStyle = tv({
    base: 'font-lato text-base desktop:text-lg',
    variants: {
        type: {
            normal: "font-normal",
            semibold: "font-semibold desktop:font-bold"
        }
    }
});

const headerType = headerStyle({ type })
---

<body class={headerType}`>
    <slot/>
</body>