---
import "../styles/global.css";
import { tv } from 'tailwind-variants';


const { type } = Astro.props

const headerStyle = tv({
    base: 'font-lato text-mobile-4xl desktop:text-5xl',
    variants: {
        type: {
            normal: "font-normal",
            bold: "font-semibold desktop:font-bold"
        }
    }
});

const headerType = headerStyle({ type })
---

<h2 class={headerType}>
    <slot/>
</h2>