---
import "../styles/global.css";
import { tv } from 'tailwind-variants';

const { type } = Astro.props

const headerStyle = tv({
    base: 'font-lato text-2xl desktop:text-3xl',
    variants: {
        type: {
            normal: "font-normal",
            bold: "font-semibold"
        }
    }
});

const headerType = headerStyle({ type })
---

<h4 class={headerType}>
    <slot/>
</h4>