---
import '../styles/global.css';
---

<div class="display-1">Cherry On Tech (Display-1)</div>
<div class="display-1 font-bold">Cherry On Tech (Display-1)</div>
<div class="display-2">Cherry On Tech (Display-2)</div>
<div class="display-2 font-bold">Cherry On Tech (Display-2)</div>
<div class="display-3">Cherry On Tech (Display-3)</div>
<div class="display-3 font-bold">Cherry On Tech (Display-3)</div>
<h1>Cherry On Tech (H1)</h1>
<h2>Cherry On Tech (H2)</h2>
<h3>Cherry On Tech (H3)</h3>
<h4>Cherry On Tech (H4)</h4>
<h5>Cherry On Tech (H5)</h5>
<body>Cherry On Tech (Body)</body>
<div class="caption">Cherry On Tech (Caption)</div>
<label>Cherry On Tech (Label)</label>